body{
  padding: 1%;
  margin: 1%;
  font-size: 110% ;
}

header{
  background-image: url(images/summer.jpg);
  background-color: rgb(180,180,180);
  padding: 15%;
  padding-right: 2%;
}

h1{
  text-align: right;
  text-transform: uppercase;
  color : rgb(255,255,255);
  font-size:xx-large;
  }
nav{
  padding: 1%;
}
nav a{
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 1% 5%;
    float: right;
    margin: 1%;
    text-decoration: none;
    background-color: rgba(225,225,225,0.6);
    color : rgb(0,0,0);
    
}
.active{
  /* display: inline-block; */
  /* float: left; */
  background-color: rgb(255, 255, 255);  
}

.active:hover{
  background-color: lightcoral;
}

main {
  padding-top: 2%;
}

aside.left{
  float: left;
  background-color: #7cad13;
  text-align: center;
  width: 22%;
}

aside.left img{
  width: 90%;
  border: solid 3px black;
  margin: 3%;

}

section.right{
  margin-left: 280px;
}

h2{
    text-transform: uppercase;
    color : rgb(3,37,126);
}
table{
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  margin: 5%;
  width: 75%; 
}
th{
  padding: 1%;
  border: 2px solid #d5f78d;
  border-radius: 5px 5px 0 0;
  border-bottom: 5px solid #d5f78d;
  background-color:#6f8d2e;
  color: rgb(255, 255, 255);
}

tr{
  opacity: 0.8;
  text-align: center;
  color: #4b4949;
  text-shadow: 1px 2px #5554544b;
}

table tr th:first-child{
  text-align: left;
}

table tr td:first-child{
  text-align: left;
}

tr:hover{
  opacity: 1;
}

td{
  background-color:#e0f0be;
  padding: 1%;
  border: 1px solid white;
  border-radius: 2px;
}